$astro-code-background-color: var(--astro-code-background-color);

$primary1: var(--primary1);
$primary1-light: var(--primary1-light);
$primary1-dark: var(--primary1-dark);

$primary2: var(--primary2);
$primary2-light: var(--primary2-light);
$primary2-dark: var(--primary2-dark);

$secondary1: var(--secondary1);
$secondary1-light: var(--secondary1-light);
$secondary1-dark: var(--secondary1-dark);

$secondary2: var(--secondary2);
$secondary2-light: var(--secondary2-light);
$secondary2-dark: var(--secondary2-dark);

$accent1: var(--accent1);
$accent1-light: var(--accent1-light);
$accent1-dark: var(--accent1-dark);

$accent2: var(--accent2);
$accent2-light: var(--accent2-light);
$accent2-dark: var(--accent2-dark);

$accent3: var(--accent3);
$accent3-light: var(--accent3-light);
$accent3-dark: var(--accent3-dark);

$accent4: var(--accent4);
$accent4-light: var(--accent4-light);
$accent4-dark: var(--accent4-dark);

$dark-color: var(--dark-color);
$inverted-color: var(--inverted-color);

$text-color: var(--text-color);
$text2-color: var(--text2-color);
$background1-color: var(--background1-color);
$background2-color: var(--background2-color);
$background3-color: var(--background3-color);
$background4-color: var(--background4-color);
$border1-color: var(--border1-color);
$border2-color: var(--border2-color);
$code-background-color: var(--code-background-color);
$code-color: var(--code-color);

$success-color: var(--success-color);
