$breakpoint-small: 900px;
$breakpoint-medium: 1024px;
// $viewport-small: "screen and (max-width: $breakpoint-small - 1px)";
// $viewport-medium: "screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium - 1px)";
// $viewport-normal: screen and (min-width: $breakpoint-medium);
$radius-normal: var(--radius-normal);
