$font1: var(--font1);
$font2: var(--font2);

/* Titles */
$headings-font-family: var(--headings-font-family);
$headings1-font-size: var(--headings1-font-size);
$headings1-font-weight: var(--headings1-font-weight);
$headings1-line-height: var(--headings1-line-height);
$headings2-font-size: var(--headings2-font-size);
$headings2-font-weight: var(--headings2-font-weight);
$headings2-line-height: var(--headings2-line-height);
$headings3-font-size: var(--headings3-font-size);
$headings3-font-weight: var(--headings3-font-weight);
$headings3-line-height: var(--headings3-line-height);

/* Bodies */
$body-font-family: var(--body-font-family);
$body-font-size: var(--body-font-size);
$body-font-weight: var(--body-font-weight);
$body-line-height: var(--body-line-height);
$body-letter-spacing: var(--body-letter-spacing);
$body-text-color: var(--body-text-color);

/* Buttons */
$button-font-family: var(--button-font-family);
$button-font-size: var(--button-font-size);
$button-font-weight: var(--button-font-weight);
$button-letter-spacing: var(--button-letter-spacing);
$button-text-color: var(--button-text-color);
$button-bg-color: var(--button-bg-color);
$button-hover-bg-color: var(--button-hover-bg-color);
$button-border-radius: var(--button-border-radius);
$button-padding: var(--button-padding);
